@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-copper: #d9480f;
  
  --font-outfit: 'Outfit', sans-serif;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --copper-glow: rgba(217, 72, 15, 0.5);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
  antialiased: true;
  overflow-x: hidden;
}

/* Lenis */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
